$color_green: #006341;
$color_green_hover: #006437;
$color_green_10: #e5efec;
$color_white: #FFFFFF;
$color_black: black;
$color_gray_light: #e5e5e5;
$color_gray_dark: #717171;

$font_primary: 'Roboto', Arial, sans-serif;