@use '../styles/abstracts/vars';

.header {
    background-color: vars.$color_green_10;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}