.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
    &.justify-content-center {
        justify-content: center;
    }
    &.justify-content-space-between {
        justify-content: space-between;
    }
}
